# Это - пример .env файла который хранит все важные, конфиденцальные данные для проекта.
#в оригинальном .env еще есть все нужное для настройки вебхуков


# Telegram
MONIKATOKEN=
SAYORITOKEN=
TARGET_CHAT_ID=
BAN_LIST=
ADMIN_LIST=
BOOSTERS_LIST=

# DB (локалка)
DB_USER=postgres
DB_PASSWORD=123
DB_NAME=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

# Weather / Webhook / Прочие API для работы с API-сервисами
OWM_API_KEY=
SECRET_TOKEN=change-me
WEBHOOK_URL=
WEBHOOK_PATH=/telegram/webhook
